/* Button reset; use this as the base for buttons */
.button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Theming.
  CSS properties cascade dynamically, so you can use them like this.
  TODO: Set up base styles at :root
*/
.theme-light {
  --color-fg: #293c4b;
  --color-bg: #ffffff;
  --color-accent: #ff6600;
  --color-working: #03a40e;
  --color-broken: #df1305;
}

.theme-dark {
  --color-fg: #ffffff;
  --color-bg: #01132b;
  --color-accent: #f18e71;
  --color-working: #47d4de;
  --color-broken: #ef0671;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  color: #293c4b;
  font-size: 22px;
}

.container {
  min-height: 100vh;
  background-color: var(--color-bg);
}

.main {
  /* Prevent this container from growing to the ends of the earth. */
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;

  height: 100%;
  padding: 1rem;

  /* Used to set the toggle button to the right or bottom, depending on space */
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-size: 64px;
  color: var(--color-accent);
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  font-size: 64px;
  color: var(--color-working);
  margin-top: 0px;
  margin-bottom: 10px;
}

.broken {
  color: var(--color-broken);
}

.reasons {
  padding: 0 10px;
}

.reasons li {
  list-style: none;
}

footer {
  font-size: 16px;
  position: fixed;
  bottom: 0;
  padding: 6px;
  text-align: center;
  width: 100%;
  background: var(--color-accent);
  color: var(--color-bg);
}

footer a {
  color: var(--color-bg);
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

footer ul li {
  display: inline-block;
}

.theme-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;

  color: var(--color-fg);
  background-color: var(--color-bg);

  display: flex;
  justify-content: center;
  align-content: center;
}
